@import "tailwindcss"; /* Se estiver usando o Tailwind v4 (padrão no Next atual) */

/* Caso seu projeto tenha sido criado com o Tailwind v3, o topo deve ser assim: */
/* @tailwind base;
@tailwind components;
@tailwind utilities;
*/

body {
  background-color: #000000;
  color: #ffffff;
  font-family: sans-serif;
}